.cont-searchBar{
    margin-top: 20px;
    border: 2px solid salmon;
    padding: 20px 30px;
    background-color: var(--background-color-navBar-oscuro);
}
.form-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-input-buttom-search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
}
.label-searchP{
    color: #fff;
}
.input-search{
    height: 30px;
    border: none;
}
.buttom-lupa-search{
    height: 27px;
    border: none;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}
.buttom-lupa-search:hover{
    background-color: white;
}